html,body{
    width: 100%;
    height: 100%;
    font-size: 10px; /* 10px */
    /* background-image: url('/images/background.jfif'); */
    /* background-color: grey; */
}

*{
    box-sizing: border-box;
}