.Footer{
    /* height: 200px; */
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: rgba(233, 232, 232, 0.651);
    border-top:2px solid grey;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 20px;
    /* justify-content: center; */
}

.Footer > img {
    border-radius: 20%;
    height:150px;
    width: auto;
    margin-left: 20px;
}

.Footer > .mainInfo {
    /* background-color: red; */
    flex-basis: 80%;
    margin-left: 20px;
}

.copyrightAndName{
    display: flex;
    align-items: center;
}

.copyrightAndName > img {
    width: 250px;
    height: auto;
}

.Footer .year{
    font-weight: 600;
    font-size: 30px;
    margin-right: 10px;
}

.Footer .mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer .icons {
    margin-top: 20px;
}

.Footer .github{
    /* background-color: red; */
    color: black;
}