.ItemContainer{
    /* display: grid; */
    /* width : 80%; */
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: red; */
    padding-left: 50px;
    
}

.ItemGrid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;


}