.Navbar{
    position: fixed;
    top:0;
    width: 100%;
    background-color: grey;
    /* margin-bottom:100px; */
    z-index:10; /*Add this*/
    /* background-color: black; */
}
.Navbar>#menu>.item:hover{
    border-radius:15px;
    background-color:rgb(202, 240, 35);
}
.Navbar>#menu>#menuRight>.item:hover{
    border-radius:15px;
    background-color:rgb(73, 236, 241);
}
.circle{
    color: white;
    background-color: blue;
    height: 15px;
    width:15px;
    text-align: center;
    border-radius: 50%;
    position:relative;
    left:-40px;
}
